body {
  background-color: #696969;
  text-align: center;
}

h1 {
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  padding: 1% 0;
  margin: auto;
}

p {
  color: #4ECCA3;
}

img{
  width: 80%;
}

.players {
  display: inline-block;
  font-family: 'Marck Script', cursive;
  font-size: 3rem;
}

/* footer */
.copyright {
  color: #fff;
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  margin-top: 3%;
}
